# .env files
.env.*
.env.local

# frontend
# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage
/backend/uploads/
/backend/tmp/

# production
/frontend/build
/frontend/.env
/backend/.env/
/backend/.env.OPENAI_API_KEY

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/.env.REACT_APP_GOOGLE_API_KEY
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# Ignore Dockerfiles
Dockerfile

# Ignore docker-compose.yml
docker-compose.yml

# Ignore specific Dockerfiles in subdirectories
frontend/Dockerfile
backend/Dockerfile

# Ignore Docker directories
frontend/.docker
backend/.docker

# Ignore other related files (if any)
*.dockerignore
