.inspection-form-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #f4f4f4;
  border-right: 1px solid #ddd;
  padding: 20px;
}

.inspection-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  margin-left: 250px;
}

.container {
    font-family: Arial, sans-serif;
    width: 80%;
    /* margin: auto; */
    padding: 20px;
  }
  
  h1 {
    color: #2c3e50;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 15px;
    border-bottom: 2px solid #bdc3c7;
    padding-bottom: 5px;
  }
  
  .info-section {
    display: flex;
    flex-wrap: wrap;
  }
  
  .info-item {
    width: 250px;
    flex-flow: column;
    display: flex;
    margin-bottom: 20px;
    margin-right: 50px;
  }
  
  .info-item:last-child {
    margin-right: 0;
  }
  
  .info-item strong {
    display: block;
    margin-bottom: 5px;
    color: #34495e;
  }
  
  .info-item p {
    margin: 0;
    color: #7f8c8d;
    align-content: center;
  }

  .item-checkbox {
    flex-direction: row;
  }
  