.inspection-sidebar {
  width: 215px;
  height: 100vh;
  background-color: #f4f4f4; /* Light grey background */
  color: #aaa; /* Dark text color */
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  font-family: Arial, sans-serif; /* Clean, sans-serif font */
  border-right: solid;
}

.inspection-sidebar h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5em;
}

.inspection-sidebar ul {
  list-style: none;
  padding: 0;
}

.inspection-sidebar ul li {
  margin: 0px 0;
}

.inspection-sidebar ul li a {
  color: #333;
  text-decoration: none;
  font-size: 1em;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.inspection-sidebar ul li a:hover {
  background-color: #ddd; /* Light hover effect */
}

.inspection-sidebar ul li a.active {
  font-weight: bold;
  background-color: #007bff; /* Active link background */
  color: oldlace;
}

.homedetails a::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  background-image: url("/public/images/section-header.png");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  padding-bottom: 6px;
}

.summary a::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 17px;
  margin-right: 8px;
  background-image: url("/public/images/general.png");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  padding-bottom: 6px;
}
